*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --cor1 : #E7D6C5;
    --cor2 : #E1C2A3;
    --cor3 : #D8AD83;
    --cor4 : #AB815F;
    --cor5 : #8E5D3E;

}
/* HEADER*/
a{
    text-decoration: none;
    color: var(--cor1);
    font-size: 1.5em;
}

.logo{
    color: var(--cor2);
    font-size: 1.8em;
}
li{
    list-style: none;
}
header{
    height: 100px;
    width: 100%;
    background-color: salmon;

    position: sticky;
    top: 0;
    z-index: 100;
}
.container{
    height: 100%;
    width: 100%;
    background-color: var(--cor5);

    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav-bar ul{
    display: flex;
    flex-direction: row;
    gap: 20px ;
    padding: 10px;
}


.menu{
    font-size: 40px;
    display: none;
}

/* MAIN */

body{
    background-color: var(--cor3);
}

.content{
    height: 520px;
    width: 935px;
    border-radius: 28px;
    overflow: hidden;
    position: absolute;
    top: 57%;
    left: 48%;
    transform: translate(-50%,-50%);
}

.alternadores{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;

}

.alternado{
    margin: 20px;
    font-size: 2em;
}

.alternado:hover{
    color: rgb(221, 218, 218);
    transition: .6s;
    
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 300%;
    height: 100%;
}

.slide{
    width: 35%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#russia:checked ~ .s1{
    margin-left: 0%;
}

#egito:checked ~ .s1{
    margin-left: -35%;
}

#roma:checked ~ .s1{
    margin-left: -70%;
}



@media (max-width:700px) {
    /*HEADER*/
    body{
        overflow-x: hidden;
        transition: none;
    }

    header{
        height: 80px;
    }
    .container{
        position: relative;
    }

    .nav-bar{
        position: absolute;
        top: 80px;
        left: 0;
        background-color: var(--cor2);

        width: 100%;
        height: calc(100vh - 80px);

        transform: translateX(100%);
        transition: all 0.4s ease-out;
    }

    .sumi{
    transform: translateX(0%);
}

    .nav-bar ul{
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;
        margin-top: 20px;
        text-align: center;
    }

    .nav-bar li{
        padding: 20px;

        border-bottom: 2px solid black;
        width: 50%;
    }

    .nav-bar li a{
        color: var(--cor5);
    }

    .nav-bar li:hover{
        background-color: var(--cor5);
        color: var(--cor1);
        border-radius: 5px;
        transition: all 0.4s ease-in;
    }

    .nav-bar a:hover{
        color: var(--cor1);
    }

    .menu{
        display: flex;
        color: var(--cor2);
    }


    /*MAIN*/
    .content{
 
        width: 90%;
        left: 50%;
    }
}