*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HEADER*/
a{
    text-decoration: none;
    color: #36311F;
    font-weight: bold;
}

a:hover{
    background-color: #C73E1D;
    color: #EDB88B;
    transition: 1s;
}

#logo{
    font-size: 1.5rem;
    font-weight: bolder;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    background-color: #EDB88B;
    padding: 1rem;
    height: 12vh;
}

#nav{
    margin-right: 20px;
}

#menu{
    list-style: none;
    display: flex;
    gap: 4rem;
}

#menu a{
    padding: .5rem;
    border-radius: 10px;
}

#btn{
    display: none;
}

/* MAIN */

body{
    background-color: #C73E1D;
}

.content{
    height: 520px;
    width: 935px;
    border-radius: 28px;
    overflow: hidden;
    position: absolute;
    top: 57%;
    left: 48%;
    transform: translate(-50%,-50%);
}

.alternadores{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

}

.alternado{
    margin: 20px;
    font-size: 2em;
}

.alternado:hover{
    color: white;
    transition: .6s;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 300%;
    height: 100%;
}

.slide{
    width: 35%;
    transition: .6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#russia:checked ~ .s1{
    margin-left: 0%;
}

#egito:checked ~ .s1{
    margin-left: -35%;
}

#roma:checked ~ .s1{
    margin-left: -70%;
}



@media (max-width:700px) {
    /*HEADER*/
    #btn{
        display: flex;
        cursor: pointer;
        border: none;
        font-size: 2.5rem;
        background-color: transparent;
    }

    #menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 12vh;
        right: 0;
        width: 100%;
        align-items: center;
        height: 0px;
        transition: 0.6s;
        z-index: 1000;
        background-color: #C73E1D;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu{
        height: calc(100vh - 80px);
        visibility: visible;
        overflow-y: auto;
        padding-top: 20px;
    }

    #menu a{
        padding: 2rem 8rem;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.05);
        color: white;
    }

    #menu a:hover{
        background-color: aqua;
        color: black;
    }

    /*MAIN*/
    .content{
        width: 550px;
        left: 50%;
    }
}