*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --cor1 : #E7D6C5;
    --cor2 : #E1C2A3;
    --cor3 : #D8AD83;
    --cor4 : #AB815F;
    --cor5 : #8E5D3E;

}
/* HEADER*/


a{
    text-decoration: none;
    color: var(--cor1);
    font-size: 1.5em;
}

.logo{
    color: var(--cor2);
    font-size: 1.8em;
}
li{
    list-style: none;
}
header{
    height: 100px;
    width: 100%;
    background-color: salmon;

    position: sticky;
    top: 0;
    z-index: 100;
}
.container{
    height: 100%;
    width: 100%;
    background-color: var(--cor5);

    display: flex;
    justify-content: space-around;
    align-items: center;
}



.nav-bar ul{
    display: flex;
    flex-direction: row;
    gap: 20px ;
    padding: 10px;
}


.menu{
    font-size: 40px;
    display: none;
}



/*MAIN*/
main{

}
.titulo{
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor4);
    color: var(--cor1);
    text-transform: uppercase;
    
}
.capsula{
    padding: 20px;
    width: 78%;
    height: 600px;
    display: flex;
    flex-direction: row;

    justify-content: space-evenly;
    margin: auto;
    align-content: center;
    align-items: center;
    /*margin-top: -100px;*/
    margin-bottom: 22px;
}

.capsulao{
    width: 100%;
    background-color: var(--cor4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.capsula h2{
    text-align: center;
}

.capsula p{
    padding: 20px;
    text-align: justify;
}
.capsula img{ 
    width: 600px;
    height: 400px;
}

.capsula:nth-child(odd){
    background: var(--cor4);
}

.reveal{
    position:relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;

}

.active{
    transform: translateY(0px);
    opacity: 1;
}

@media (max-width:700px) {
    /*HEADER*/

    body{
        overflow-x: hidden;
        transition: none;
    }
    .container{
        position: relative;
    }

    .nav-bar{
        position: absolute;
        top: 100px;
        left: 0;
        background-color: var(--cor2);

        width: 100%;
        height: calc(100vh - 100px);

        transform: translateX(100%);
        transition: all 0.4s ease-out;
    }

    .sumi{
    transform: translateX(0%);
}

    .nav-bar ul{
        display: flex;
        flex-direction: column;
        gap: 60px;
        align-items: center;
        margin-top: 20px;
        text-align: center;
    }

    .nav-bar li{
        padding: 20px;

        border-bottom: 2px solid black;
        width: 50%;
    }

    .nav-bar li a{
        color: var(--cor5);
    }

    .nav-bar li:hover{
        background-color: var(--cor5);

        border-radius: 5px;
    }

    .nav-bar a:hover{
        color: var(--cor1);
    }

    .menu{
        display: flex;
        color: var(--cor2);
    }

    
    /*MAIN*/


    .capsula{
        flex-wrap: wrap;
        height: 700px;
        width: 90%;
 
    }



    .capsula img{
        width: 100%;
    }

    main h1{
        margin-bottom: 20px;
    }



}

